.form-container{
    margin: 0 auto;
    padding: 0px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    width: 50%;
}
body{
    background-color: #f2eef9;
        font-family:'Courier New', Courier, monospace     
}
.box-register{
    background-color: rgb(187, 195, 238);
    padding: 10%;
    border-radius: 5%;
}
.link{
    color: #f2eef9;
}
