.bg-image{
    background-image: url("../../../public/images/snapedit_1656366915692.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    color: #4F45AC;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}
.button{
    background-color: red;
}
.container-home{
    width: 20%;
    margin-left: 17%;
    margin-top: 10%;
}