
.container{
    background:  rgba(255,255,255,0.3);
    padding: 3em;
    height: 50%;
    border-radius: 20px;
    border-left: 1px solid  rgba(255,255,255,0.3);
    border-top: 1px solid  rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align:left;

    margin-left: 20% !important;
    margin-top: 5% ;
}
.likes{
    background-color: rgb(187, 195, 238);
    width: 15%;
    border-radius: 10px;
    padding: 5px;
    display: inline;
}
#like-heading{
    display: inline;
    margin-right: 5%;
}
